@import url('https://fonts.cdnfonts.com/css/miama-nueva');

body{
    /* width: 1440px; */
    font-family: "Inter", sans-serif;
    background-color: black;
    margin: 0 auto;
}
.full-body{
    /* width: 1130px; */
    margin: 0 auto;
}
.section-container{
    max-width: 1140px;
    margin: 0 auto;
}
.details p{
    margin: 0;
    padding: 0;
}

/* sheard styel */
.display-flex{
    display: flex;
}

/* colour-text */
.white-rgb{
    color: rgb(255, 255, 255);
}
.orange-rgb{
    background-color: rgb(230, 83, 60);
}

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0px;
    /* border: 1px solid red; */
}

/* navbar */

.header{
    background-color: rgba(17, 17, 17, 0.8);
    background-blend-mode: overlay;
    justify-content: space-between;
    margin-top: 50px;
}
.navbar{
    background-blend-mode: overlay;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    margin-left: 20px;
}
.btn-container{
    width: 575px;
    height: 48px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 350px;
}
.humbergurt-menu{
    color: white;
    display: none;
}
.nav-link-center{
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    margin-right: 60px;
}
.nav-btn{
    width: 93px;
    height: 38px;
    border-radius: 45px;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    color: rgb(255, 255, 255);
}

.fitness{  
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-family: inherit;
}
.header-section{
    display: flex;
}
.header-text h1{
    font-size: 4.875rem;
    font-weight: 900;
    padding-left: 0px;
    color: rgb(255, 255, 255);
}
.miama{
    font-family: 'Miama Nueva', sans-serif;
}
.header-text p{
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0px;
    color: rgba(255, 255, 255, 0.5);
}
.btn{
    padding-left: 0px;
}
.btn-1, .btn-2{
    width: 200px;
    height: 54px;
    border-radius: 45px;
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 28px;
}
.btn-1{
    color: white;
    border: none;
}
.btn-2{
    margin-left: 15px;
    color: white;
    background-color: rgba(17, 17, 17, 0.1);
    border-radius: 45px;
    border: solid whitesmoke;
}
.header-img{
    width: 45%;
    padding-left: 160px;
    padding-top: 24px;
    position: relative;
}
.details-badge{
    width: 206px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin-left: -460px;
    margin-bottom: 80px;
    border: none;
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
#badge-amount{
    font-size: 1.875rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
    padding-left: 20px;
}
.details{
    position: relative;
    align-items: center;
    justify-content: center;
}
#badge-video{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    padding-left: 20px;
}
.workout-badge{
    width: 193px;
    height: 98px;
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
    margin-top: 105px;
    margin-left: -140px;
    border-radius: 10px;
    border: none;
}
#total-videos{
    font-size: 2.5rem;
    font-weight: 900;
    padding-right: 20px;
    color: rgb(255, 255, 255);
}
#free-videos{
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

/* habbit change section */

.habbit{
    width: 1044px;
    height: 450px;
    margin: 0 auto;
    margin-top: 110px;
}
.habbit-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.habbit-change h1{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
}
.habbit-change p{
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.habbit-card{
    width: 1044px;
    margin-top: 50px;
    color: #ffffff;
    display: grid;
    grid-template-areas: 
    "a b c d"
    ;
}

.first-habbit-card img{
    margin-left: 35px;
    border-radius: 50%;
}
.first-habbit-card h4{
    text-align: center;
    grid-area: a;
}
.first-habbit-card p{
    margin-top: 5px;
    text-align: center;
}
.second-habbit-card img{
    border-radius: 50%;
    margin-left: 45px;
}
.second-habbit-card h4{
    text-align: center;
    grid-area: b;
}
.second-habbit-card p{
    margin-top: 5px;
    text-align: center;
}
.third-habbit-card img{
    border-radius: 50%;
    margin-left: 30px;
}
.third-habbit-card h4{
    text-align: center;
    grid-area: c;
}
.third-habbit-card p{
    margin-top: 5px;
    text-align: center;
}
.fourth-habbit-card img{
    border-radius: 50%;
    margin-left: 40px;
}
.fourth-habbit-card h4{
    text-align: center;
    grid-area: d;
}
.fourth-habbit-card p{
    margin-top: 5px;
    text-align: center;
}

/* runner section */

.runner{
    width: 1060px;
    height: 370px;
    background-color: #222222;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}
.runner-text h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
    margin-left: 41px;
    margin-top: 41px;
}
.runner-text p{
    color:rgba(255, 255, 255, 0.5) ;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 41px;
}
.runner-btn{
    width: 214px;
    height: 50px;
    background-color: rgb(230, 83, 60);
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-top: 34px;
    margin-left: 42px;
    font-size: 1.125rem;
    font-weight: 600;
}
.runner-img{
    width: 45%;
    margin: 0 auto;
    padding-top: 15px;
}
.reaposive-mood-img{
    border-radius: 20px;
    width: 100%;
    margin-left: -20px;
    margin-top: 50px;
    display: none;
}
.desktop-img{
    border-radius: 20px;
}
/* tranning-execrise */

.tranning-execrise-img{
    width: 1060px;
    height: 580px;
    margin: 0 auto;
    margin-top: 100px;
}
.tranning-execrise{
    gap: 15px;
}
.tranning-execrise h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
}
.tranning-execrise p{
    color: #ffffff75;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 10px;
}
.tranning-img-container{
    width: 1060px;
    height: 405px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-template-rows: repeat(12, 12fr);
}
.imgs-1{
    position: relative;
    grid-column: 1 /span 3;
    grid-row: 1 /span 6;
}
.colour-1{
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
    position: absolute;
    top: 0%;
}
.colour-1 h3{
    margin-top: 150px;
    margin-left: 20px;
    font-size: 0.875rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.img-2{
    position: relative;
    grid-column: 4 /span 6;
    grid-row: 1 /span 6;
}
.colour-2{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    top: 0%;
}
.colour-2 h3{
    margin-top: 29px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 800;
}
.img-3{
    position: relative;
    grid-column: 10 /span 3;
    grid-row: 1 /span 6;
}
.colour-3{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
}
.colour-3 h3{
    margin-top: 150px;
    margin-left: 29px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 800;
}
.img-4{
    position: relative;
    grid-column: 1 /span 5;
    grid-row: 7 /span 13;
}
.colour-4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
}
.colour-4 h3{
    margin-top: 20px;
    margin-left: 300px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 800;
}
.img-5{
    position: relative;
    grid-column: 6 /span 3;
    grid-row: 7 /span 13;
}
.colour-5{
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.3);
    position: absolute;
    top: 0%;
}
.colour-5 h3{
    margin-top: 160px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 800;
}
.img-6{
    position: relative;
    grid-column: 9 /span 4;
    grid-row: 7 /span 13;
}
.colour-6{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 255, 0.3);
    position: absolute;
    top: 0%;
}
.colour-6 h3{
    margin-top: 160px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 800;
}
.tranning-img-container img{
    width: 100%;
    height: 100%;
}
/* bmi-calculate-chart-table */

.bmi-calculate-text{
    width: 650px;
    height: 115px;
    margin: 0 auto;
    margin-top: 88px;
    gap: 20px;
}
.bmi-calculate-text h1{
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}
.bmi-calculate-text p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.378);
}
.bmi-calculate-chart{
    width: 100%;
    height: 487px;
    margin: 0 auto;
    background-color: #222222;
    margin-top: 58px;
    display: flex;
}
.bmi-status h1{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 900;
    margin-left: 270px;
    padding-top: 50px;
}
.bmi-status table{
    width: 315px;
    height: 217px;
    margin-left: 270px;
    margin-top: 52px;
    border-collapse: collapse;
}
.bmi-status th,td{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid  rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
}
.your-bmi-status h1{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 900;
    margin-left: 150px;
    padding-top: 50px;
}
.your-bmi-status p{
    color: rgb(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 150px;
    margin-top: 10px;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 150px;
    margin-top: 30px;
}
.box .form-row {
    display: flex;
    gap: 10px;
}
.form-row select{
    width: 283px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
.box-1{
    border-radius: 10px;
    width: 283px;
    height: 48px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
} 
.input-5c select{
    border-radius: 10px;
    width: 577px;
    height: 48px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
}

.Calculate-btn{
    width: 224px;
    height: 54px;
    color: #FFFFFF;
    background-color: rgb(230, 83, 60);
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 25px;
    margin-left: 150px;
    margin-top: 34px;
}

/* meet-our-team-mate */

.meet-our-team{
    width: 1060px;
    height: 785px;
    margin: 0 auto;
    margin-top: 88px;
}
.meet-text{
    text-align: center;
}
.meet-text h1{
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}
.meet-text p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}
.meet-team-img{
    width: 1060px;
    height: 620px;
    margin-top: 58px;
    display: grid;
    border-radius: 25px;
    grid-template-columns: repeat(3, 2fr);
    background-color: rgba(62, 54, 54, 0.4);
}
.meet-team-img>div{
    margin: 0 auto;
    margin-top: 20px;
    width: 327px;
    height: 272px;
}
.meet-team-img img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.meet-team-card-1{
    position: relative;
}
.card-1-text{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.25rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.card-1-text p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.meet-team-card-2{
    position: relative;
}
.card-2-text{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.25rem;
    font-weight: 900;
    color: rgb(255, 255, 255);   
}
.card-2-text P{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.meet-team-card-3{
    position: relative;
}
.card-3-text{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.25rem;
    font-weight: 900;
    color: rgb(255, 255, 255);   
}
.card-3-text P{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.meet-team-card-4{
    position: relative;
}
.card-4-text{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.25rem;
    font-weight: 900;
    color: rgb(255, 255, 255);   
}
.card-4-text P{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.meet-team-card-5{
    position: relative;
}
.card-5-text{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.25rem;
    font-weight: 900;
    color: rgb(255, 255, 255);   
}
.card-5-text P{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.meet-team-card-6{
    position: relative;
}
.card-6-text{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.25rem;
    font-weight: 900;
    color: rgb(255, 255, 255);   
}
.card-6-text P{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* gym-equipment-price-unique-section */

.gym-equipment-price{
    width: 1060px;
    height: 600px;
    background-color: rgba(62, 54, 54, 0.3);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 175px;
}
.gym-equipment-text h1{
    color: #FFFFFF;
    font-size: 2.50rem;
    font-weight: 900;
    text-align: center;
}
.gym-equipment-text p{
    color:rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.gym-equipment-card{
    display: flex;
    justify-content: space-around;
    margin-left: -25px;
}
.gym-equipment-card-1{
    width: 290px;
    height: 430px;
    border: 1px solid rgba(159, 146, 146, 0.259);
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgba(178, 158, 158, 0.062);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(159, 146, 146, 0.259);
}
.humble{
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
.rating-star-1{
    margin-left: 5px;
    gap: 15px;
    color: gold;
}
.rating{
    color: rgba(255, 255, 255, 0.5);
}
.rating-star-1 h4{
    color: #FFFFFF;
}
.gym-equipment-card-2{
    width: 300px;
    height: 430px;
    border: 1px solid rgba(159, 146, 146, 0.259);
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgba(178, 158, 158, 0.062);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(159, 146, 146, 0.259);
}
.humble{
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
.rating-star-2{
    margin-left: 5px;
    gap: 15px;
    color: gold;
}
.rating{
    color: rgba(255, 255, 255, 0.5);
}
.rating-star-2 h4{
    color: #FFFFFF;
}
.gym-equipment-card-3{
    width: 300px;
    height: 430px;
    border: 1px solid rgba(159, 146, 146, 0.259);
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgba(178, 158, 158, 0.062);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(159, 146, 146, 0.259);
}
.humble{
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
.rating-star-3{
    margin-left: 5px;
    gap: 15px;
    color: gold;
}
.rating{
    color: rgba(255, 255, 255, 0.5);
}
.rating-star-3 h4{
    color: #FFFFFF;
}
/* footer-container */

.footer-container{
    width: 100%;
    height: 420px;
    margin: 0 auto;
    margin-top: 188px ;
    background-color: rgba(62, 54, 54, 0.3);
}
.footer-text{
    width: 1059px;
    height: 250px;
    margin: 0 auto;
    margin-top: 66px;
    display: flex;
    justify-content: space-around;
}
.footer-texr-1 h1{
    font-size: 4.375rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-family: sans-serif;
    margin-top: 17px;
} 
.footer-texr-1 p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    gap: 5px;
}
.footer-texr-2 h2{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 20px;
} 
.footer-texr-2 p{
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
} 
.footer-texr-3 h3{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 20px;
}
.footer-texr-3 p{
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.horigental-line{
    width: 1060px;
    margin-top: 80px;
    margin-left: 226px;
    background-color:  rgba(255, 255, 255, 0.1);
}
#footer-last-text{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 35px;
    text-align: center;
}